ProjectsTFS/RC/rc1.0.0.0/net.paxialabs.mabe.serviplus.domain/Connected Services/srHistoryODS/SI_BusquedaODS_OS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://mabe.com/MW/CONFINAL/Mobile/BusquedaODS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_BusquedaODS_OS" targetNamespace="http://mabe.com/MW/CONFINAL/Mobile/BusquedaODS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_BusquedaODS_OS" />
  <wsdl:types>
    <xsd:schema xmlns="http://mabe.com/MW/CONFINAL/Mobile/BusquedaODS" targetNamespace="http://mabe.com/MW/CONFINAL/Mobile/BusquedaODS" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_BusquedaODS_In" type="p1:DT_BusquedaODS_In" />
      <xsd:element name="MT_BusquedaODS_Out" type="p1:DT_BusquedaODS_Out" />
      <xsd:complexType name="DT_BusquedaODS_Out">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">9fbc8aad6b1611e79a68000000873c82</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="SessionReference">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">e47f203b166311e79ae200155d41a661</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="Satelite" type="xsd:string">
                    <xsd:annotation>
                      <xsd:appinfo source="http://sap.com/xi/TextID">8d66477c195c11e7b77b00155d41a661</xsd:appinfo>
                    </xsd:annotation>
                  </xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DestinoSistema">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">e47f203d166311e7aa7a00155d41a661</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                  <xsd:attribute name="Mandante" type="xsd:string">
                    <xsd:annotation>
                      <xsd:appinfo source="http://sap.com/xi/TextID">8d66477d195c11e7a22d00155d41a661</xsd:appinfo>
                    </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="Idioma" type="xsd:string">
                    <xsd:annotation>
                      <xsd:appinfo source="http://sap.com/xi/TextID">8d66608d195c11e7cd4c00155d41a661</xsd:appinfo>
                    </xsd:annotation>
                  </xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Item">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">e47fb96f166311e7a93f00155d41a661</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="IDConsumidor" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">e47f2040166311e79c3700155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="IDBaseInstalada" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">0b3c4c236b1711e781b100155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="IDOperacion" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">0b3c4c246b1711e7bebd00155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_BusquedaODS_In">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">352794b2932c11e7846b000000873c82</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Item">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">e47fb96f166311e7a93f00155d41a661</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="ID_Oper" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">e47f2040166311e79c3700155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Estatus_Oper" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">254931346b1c11e7c93800155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Desc_Estatus" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">e47f2041166311e7c58600155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Estatus_Visita" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">297b7c041e0f11e7c4b600155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Desc_Estatus_Visita" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">e47f3e9a166311e7c51700155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Tipo_Serv" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">e47f3e99166311e798d000155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Fecha_Cierre_Orden" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">e47f3e9c166311e7c85b00155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="ID_Falla1" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">e47f3e9d166311e78e9f00155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Desc_ID_Falla1" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">e47f3e9b166311e7cdda00155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="ID_Falla2" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">acb96ba36b1511e7c53800155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Desc_ID_Falla2" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">acb96ba46b1511e7c14800155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="ID_Falla3" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">acb96ba56b1511e7bc5a00155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Desc_ID_Falla3" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">acb96ba66b1511e7a99f00155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="ID_Falla4" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">acb96ba76b1511e7810400155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Desc_ID_Falla4" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">acb96ba86b1511e7c7c000155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="ID_Falla5" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">acb96ba96b1511e7865100155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Desc_ID_Falla5" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">acb96baa6b1511e79f9f00155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Modelo" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">acb96bab6b1511e7cf8700155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Desc_Modelo" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">acb96bac6b1511e7c8e900155d41a661</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_BusquedaODS_Out">
    <wsdl:documentation />
    <wsdl:part name="MT_BusquedaODS_Out" element="p1:MT_BusquedaODS_Out" />
  </wsdl:message>
  <wsdl:message name="MT_BusquedaODS_In">
    <wsdl:documentation />
    <wsdl:part name="MT_BusquedaODS_In" element="p1:MT_BusquedaODS_In" />
  </wsdl:message>
  <wsdl:portType name="SI_BusquedaODS_OS">
    <wsdl:documentation />
    <wsdl:operation name="SI_BusquedaODS_OS">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_BusquedaODS_OS" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_BusquedaODS_Out" />
      <wsdl:output message="p1:MT_BusquedaODS_In" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_BusquedaODS_OSBinding" type="p1:SI_BusquedaODS_OS">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_BusquedaODS_OS">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_BusquedaODS_OSService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_BusquedaODS_OSBinding">
      <address location="http://srvmabe84.mabenet.corpmabe.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_BusquedaODS_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FBusquedaODS" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_BusquedaODS_OSBinding">
      <address location="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_BusquedaODS_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FBusquedaODS" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>