ProjectsTFS/RC/rc1.0.0.0/net.paxialabs.mabe.serviplus.domain/Connected Services/srUpdateBase/SI_ActualizaIB_OS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://mabe.com/MW/CONFINAL/Mobile/ActualizaIB" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_ActualizaIB_OS" targetNamespace="http://mabe.com/MW/CONFINAL/Mobile/ActualizaIB" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_ActualizaIB_OS" />
  <wsdl:types>
    <xsd:schema xmlns="http://mabe.com/MW/CONFINAL/Mobile/ActualizaIB" targetNamespace="http://mabe.com/MW/CONFINAL/Mobile/ActualizaIB" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_ActualizaIB_Req" type="p1:DT_ActualizaIB_Req" />
      <xsd:element name="MT_ActualizaIB_Res" type="p1:DT_ActualizaIB_Res" />
      <xsd:complexType name="DT_ActualizaIB_Res">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">18fdf2fb91b111e7b0f5000000873c82</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ET_IB_CHANGE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">30df26a191b111e79d6f00155d52058f</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="item">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">30df26a091b111e79fb100155d52058f</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="REGISTRY" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">30df269891b111e7903e00155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="PRODUCT_ID" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">30df269991b111e78bdf00155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="BRAND" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">30df269a91b111e7a3c800155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="SERIAL_NUMBER" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">30df269b91b111e792ae00155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="PURCHASE_DATE" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">30df269c91b111e78fb200155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="WARRANTY_FROM" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">30df269d91b111e782d800155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="WARRANTY_TO" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">30df269e91b111e7808d00155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="PURCHASE_LOC" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">30df269f91b111e7c63d00155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ET_IB_RETURN">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">434bf9c491b211e7bbab00155d52058f</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="item">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">434bf9c391b211e7b43c00155d52058f</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="TYPE" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">434bf9b591b211e7cb4b00155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ID" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">434bf9b691b211e78d8200155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="NUMBER" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">434bf9b791b211e7b38500155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="MESSAGE" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">434bf9b891b211e79a2900155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="LOG_NO" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">434bf9b991b211e7867b00155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="LOG_MSG_NO" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">434bf9ba91b211e7cec700155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="MESSAGE_V1" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">434bf9bb91b211e7b82600155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="MESSAGE_V2" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">434bf9bc91b211e79deb00155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="MESSAGE_V3" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">434bf9bd91b211e781af00155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="MESSAGE_V4" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">434bf9be91b211e7bed100155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="PARAMETER" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">434bf9bf91b211e7852400155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ROW" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">434bf9c091b211e7858400155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="FIELD" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">434bf9c191b211e7a54900155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="SYSTEM" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">434bf9c291b211e78b8100155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_ActualizaIB_Req">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">3d4ee17d972311e78a71000000873c82</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="SessionReference">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9487caa3936a11e795d100155d52058f</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:attribute name="Satelite" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://sap.com/xi/TextID">9487caa2936a11e7cd0800155d52058f</xsd:appinfo>
                </xsd:annotation>
              </xsd:attribute>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DestinoSistema">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9487caa6936a11e791b000155d52058f</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:attribute name="Mandante" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://sap.com/xi/TextID">9487caa4936a11e7c01c00155d52058f</xsd:appinfo>
                </xsd:annotation>
              </xsd:attribute>
              <xsd:attribute name="idioma" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://sap.com/xi/TextID">9487caa5936a11e7bfe200155d52058f</xsd:appinfo>
                </xsd:annotation>
              </xsd:attribute>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="IT_IB_CHANGE">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">0df78ce291b411e7887600155d52058f</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="item">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">0df78ce191b411e7ac4500155d52058f</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="ID_de_Cliente" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">0df76ec991b411e7a26300155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="Modelo" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">0df76eca91b411e7afe500155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="ID_de_Registro" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">0df76ecb91b411e78b2400155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="Marca" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">0df76ecc91b411e791fa00155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="Idioma" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">0df76ecd91b411e7b85500155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="No_Serie" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">0df76ece91b411e78a3500155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="Fecha_de_Compra" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">0df76ecf91b411e7821e00155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="Lugar_de_Compra" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">0df76ed091b411e7c5e400155d52058f</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_ActualizaIB_Req">
    <wsdl:documentation />
    <wsdl:part name="MT_ActualizaIB_Req" element="p1:MT_ActualizaIB_Req" />
  </wsdl:message>
  <wsdl:message name="MT_ActualizaIB_Res">
    <wsdl:documentation />
    <wsdl:part name="MT_ActualizaIB_Res" element="p1:MT_ActualizaIB_Res" />
  </wsdl:message>
  <wsdl:portType name="SI_ActualizaIB_OS">
    <wsdl:documentation />
    <wsdl:operation name="SI_ActualizaIB_OS">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_ActualizaIB_OS" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_ActualizaIB_Req" />
      <wsdl:output message="p1:MT_ActualizaIB_Res" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_ActualizaIB_OSBinding" type="p1:SI_ActualizaIB_OS">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_ActualizaIB_OS">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_ActualizaIB_OSService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_ActualizaIB_OSBinding">
      <address location="http://srvmabe84.mabenet.corpmabe.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActualizaIB_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FActualizaIB" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_ActualizaIB_OSBinding">
      <address location="https://srvmabe84.mabenet.corpmabe.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_MABE_CONFINAL_FPR&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ActualizaIB_OS&amp;interfaceNamespace=http%3A%2F%2Fmabe.com%2FMW%2FCONFINAL%2FMobile%2FActualizaIB" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>